@model AppSettings

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>OnBaseURL</td>
                <td>@Model.OnBaseURL</td>
            </tr>
            <tr>
                <td>GC_OnBaseURL</td>
                <td>@Model.GC_OnBaseURL</td>
            </tr>
            <tr>
                <td>ShowXMLs</td>
                <td>@Model.ShowXMLs</td>
            </tr>
            <tr>
                <td>ShowSimulator</td>
                <td>@Model.ShowSimulator</td>
            </tr>
            <tr>
                <td>LogDocumentsInDB</td>
                <td>@Model.LogDocumentsInDB</td>
            </tr>
        </tbody>
    </table>
</div>
